body{
    /*background-color: aliceblue;*/
    background-image: url("chien.png");
}

.mainStyle{
    background-color: red;
    opacity:0.5;
    color: white;
    border: 10px dotted blueviolet;
    /*border-color: blueviolet;*/
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 75px;
    margin-bottom: 100px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.mainStyle2{
    background-color: #87CEEB;
    border: 5px solid #636363; /*cela est une bordure*/
    border-radius: 20px;
    /*padding-top: 30px;
    padding-bottom: 70px;
    padding-right: 100px;
    padding-left: 10px;*/
    padding: 30px 100px 10px 70px;
    height: 200px;
    width: 50%;
    color: green;
}

.listStyle{
    text-decoration-line: line-through;
}

.listStyle2{
    text-decoration-line: underline;
}

.listStyle3{
    text-decoration-line: overline;
}

.listStyle4{
    text-decoration-line: overline underline;
}

.divTest{
    background-color: green;
    border: 10px;
    color: white;
    margin: 100px;
    height: 200px;
    width: 50%;
    outline-style: dotted;

}

p.p1{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 30px;
}

p.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p.p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.icons{
    background-color: orange;
}

a{
    color:hotpink;
    text-decoration: none;
    background-color: blueviolet;
}

a:link{
    color:red;
    text-decoration: none;
}

a:visited{
    color:blue;
    text-decoration: none;
    background-color:aquamarine;
}

a:hover{
    color:orange;
    text-decoration: underline;
    background-color: deeppink;
}

a:active{
    color:white;
}

a:hover.insta{
    color:bisque;
    text-decoration:dashed;
}

a:link.insta{
    padding:50px;
    margin:200px;
    color:aqua;
    background-color: blueviolet;
    border-radius: 20px;
}

ol.cssclasse{
    list-style-type: square;
}

ol.cssclasse2{
    list-style-type: circle;
}

ol.cssclasse3{
    list-style-type: upper-roman;
}

ol.cssclasse4{
    list-style-type: lower-alpha;
}

.listDiv{
    background-color:orange;
    border: solid 10px yellow;
    color:white;
    margin-top:100px;

}

li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }

th, td {
    border: 1px solid;
    height:70px;
    text-align:left;
    vertical-align: bottom;
  }

.tableDiv{
    background-color: pink;
}

table {
    width: 100%;
    border:1px solid;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: coral;}

  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color: palevioletred;
    color: white;
  }

div.ex1 {
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

div.ex2 {
    width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
  }

  div.static {
    position: fixed;
    border: 3px solid #73AD21;
  }

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

div.relative2 {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
  } 
  
div.absolute2 {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

.container {
    position: relative;
}

.white-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
    text-align: left;
  }

  .green-box {
    position: absolute;
    z-index: 2; /* green box will be above white box */
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
    text-align: right;
  }

.gray-box {
    position: absolute;
    z-index: 3; /* gray box will be above both green and black box */
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 40px;
    text-align: center;
}

div.nom{
    background-color: coral;
    width: 200px;
    height: 65px;
    border: 1px solid;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
  }

.divRouge{
    background-color:red;
    font-size: 50px;
}
.divVert{
    background-color:green;
    font-size: 50px;
}

.divRougeVert{
    float: right;
    padding: 15px; 
  }