body{
    /*background-color: aliceblue;*/
    background-image: url("chien.png");
}

.mainStyle{
    background-color: red;
    opacity:0.5;
    color: white;
    border: 10px dotted blueviolet;
    /*border-color: blueviolet;*/
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 75px;
    margin-bottom: 100px;
}

.mainStyle2{
    background-color: #87CEEB;
    border: 5px solid #636363; /*cela est une bordure*/
    border-radius: 20px;
    /*padding-top: 30px;
    padding-bottom: 70px;
    padding-right: 100px;
    padding-left: 10px;*/
    padding: 30px 100px 10px 70px;
    height: 200px;
    width: 50%;
    color: green;
}

.listStyle{
    text-decoration-line: line-through;
}

.listStyle2{
    text-decoration-line: underline;
}

.listStyle3{
    text-decoration-line: overline;
}

.listStyle4{
    text-decoration-line: overline underline;
}

.divTest{
    background-color: green;
    border: 10px;
    color: white;
    margin: 100px;
    height: 200px;
    width: 50%;
    outline-style: dotted;

}

p.p1{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 30px;
}

p.p2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

p.p2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.icons{
    background-color: orange;
}