body{
    background-color: red;/*left,right*/
}

h1{
    color:aqua;
}

p{
    background-color:blueviolet;
    text-align:right;
}

.externe{
    color:white;
}

h2.externe{
    background-color:bisque;
}